/* Root Style */
* {
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --primarycolor : #2D2D39 !important;
    --secondaycolor : #353543 !important; 
    --accsentcolor : #FFB300 !important; 
    ---textcolor : #C4C4C4 !important; 
    --bodytext : #fff !important;
}

body {
    background-color: var(--primarycolor);
}

.button-lg {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .9em 1em;
    background: linear-gradient(90.54deg, #FFA800 0.48%, #FFB300 105.43%);
    border-radius: 8px;
    border : none;

    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.1rem;
    color: var(--bodytext);
    position: relative;
    z-index: 2;
}

.button-lg-icon {
    margin-right: 10px;
}

h1,h2,h3,h4,h5,h6,p,span,div {
    margin: 0;
    padding: 0;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem; /* 48px */
    line-height: 1.1em;
    color: var(--bodytext);
} 

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 2.25rem; /* 36px */
    line-height: 1.1em;
    color: var(--bodytext); 
}

h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem; /* 32px */
    line-height: 1.5em;
    color: var(--bodytext);
}

h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem; /* 36px */
    line-height: 1.1em;
    color: var(--accsentcolor);
}

h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem; /* 24px */
    line-height: 1.1em;
    color: var(--accsentcolor);   
}

h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem; /* 16px */
    line-height: 1.5em !important;
    color: var(---textcolor);
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 0.87rem; /* 14px */
    line-height: 1.1em; 
    color: var(---textcolor);
}


.education-desc {
    border-left: 2px solid var(--accsentcolor);
    padding-left: 60px;
}

.education-desc span{
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.1em;
    color: var(--accsentcolor);
} 

.education-desc h3 {
    margin-top: 8px;
}

.education-desc h5 {
    -webkit-text-stroke-width: .4px;
    -webkit-text-stroke-color: var(---textcolor);
    -webkit-text-fill-color: var(--secondaycolor);
}

.education-item {
    margin-bottom: 40px;
}

.education-item:nth-child(3) {
    margin-bottom: 0;
}

#sertificate .card {
    background-color: var(--secondaycolor);
}

#sertificate h4 {
    color: var(--bodytext);
}

.link-in a {
    color: var(---textcolor);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.1em  ;
    text-decoration: none;
}

.link-in {
    margin-top: 40px;
}

footer {
    padding : 60px 0;
}

footer h4 {
    color: var(--bodytext);
    font-weight: 600;
    margin-bottom : 40px;
}

footer span {
    color: var(--bodytext);
    font-size: 1.25rem;
    line-height: 1.1em;
}

.fa-heart {
    color: #ff0088;
}

footer .social-icon .icon {
    margin: 20px 16px 20px 0 !important;
}

footer ul li a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1em;
    color: var(---textcolor);
}

footer ul li a.active {
    color: var(--bodytext);
    font-weight: 500;
}

footer ul li a:hover {
    color: var(--bodytext);
}

footer ul li {
    display: inline-block;
    margin-right: 2rem;
}

footer button {
    margin-top: 20px;
}

.slider {
    position: relative;
  }
  
  .slider .owl-item.active.center .slider-card {
    transform: scale(1.1);
    opacity: 1;
    background: #353543; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3e3e4e, #343442); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3e3e4e, #353543); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
  }
  
  .slider-card span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */
    color: #FFB300;
  
  }
  
  .slider-card {
    background: #353543;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 12px 12px 24px 12px;
    margin: 50px 15px 90px 15px;
    transform: scale(1);
    opacity: .9;
    transition: all 0.3s;
  }
  
  .slider-card img {
    border-radius: 5px;
  }
  
  .owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 2;
  }
  .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 0;
    opacity: 1;
    font-size: 30px !important;
    z-index: 2;
  }
  
  .owl-next {
    background: rgba(255, 255, 255, 0.7) !important;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    margin-right: 20px !important;
  }
  
  .owl-prev {
    background: rgba(255, 255, 255, 0.7) !important;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: relative;
    margin-left: 20px !important;
  }
  
  .card {
    width: 80px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transform-style: preserve-3d;
  }
  .card-shadow {
    transform: translateZ(-10px) translateX(-50%);
    box-shadow: 0px 6px 24px rgba(75, 75, 75, 0.15);
  }
    .home-nav {
    box-shadow: 0px 10px 15px rgb(173 172 173 / 22%);
    background: -webkit-linear-gradient(45deg, #8B21FE, #C438CE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 700;
    transition-duration: .1s;
  }