
@media screen and (max-width : 992px) {

    /* Navbar */
    .navbar-nav {
        height: calc(100vh - 65px);
        padding: .8rem;
    }

    .nav-text {
        margin: 16px 0;
        box-sizing: border-box;
        font-size: 1.2rem;
    }

    .brand {
        font-size: 1.2rem;
    }

    .navbar-collapse {
        position: absolute;
        top: 66px;
        left: 0;
        width: 100%;
        background-color: var(--primarycolor);
    }

    .navbar-collapse.collapsing {
        height: auto;
        -webkit-transition: left 0.2s ease;
        -o-transition: left 0.2s ease;
        -moz-transition: left 0.2s ease;
        transition: left 0.2s ease;
        left: -100%;
    }
    .navbar-collapse.show {
        left: 0;
        -webkit-transition: left 0.2s ease-in;
        -o-transition: left 0.2s ease-in;
        -moz-transition: left 0.2s ease-in;
        transition: left 0.2s ease-in;
    }

    .navbar-toggler:focus {
        outline: none;
        box-shadow:  none !important;
    }

    .nav-link::after {
        content:"";
        display: block;
        position: absolute;
        left: 0;
        left: 38px;
        height: 3px;
        bottom: -8px;
        width: 0;
        background: rgb(0, 204, 160);
        border-radius : 2px;
    }

    .nav-link:hover::after {
        width: 80px;
    }

@media screen and ( max-width : 768px ) {
    h1 {
        font-size: 2.2rem;
    }

    h2 { 
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h6 {
        font-size: 1rem;
    }
    a{
        font-size: 10px;
    }

}



@media screen and ( max-width : 375px ) {
    h1 {
        font-size: 1.7rem;
    }

    h2 { 
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: .8rem;
    }

    p {
        font-size: .8rem;
        line-height: 1.5em;
    }
    a{
        font-size: 6px;
    }


    
}